@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Titillium+Web:wght@300;400;700&display=swap');

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

.fundoLogin{
    background-image: url("../img/covid.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login{
    padding: 0 90px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-login{
    background: rgba(255, 255, 255, 0.8);
    border: 4px solid #3DB4B4;
    box-sizing: border-box;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    height: 31em;
    padding: 3em 2em;
    justify-content: space-between;
    align-items: center;
    width: 26em;
    
}

.titulo-login{
    font-family: 'Fuzzy Bubbles', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 57px;
    line-height: 77px;
    text-align: justify;
    color: #3DB4B4;
}

.form-login form{
    display: flex;
    flex-direction: column;
    height: 13em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.input-login{
    background: rgba(255, 255, 255, 0.9);
    border: 3px solid #3DB4B4;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0.6em 4em;
    text-align: center;
}

.input-login::-webkit-input-placeholder{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    line-height: 45px;
    color: rgba(61, 180, 180, 0.68);
}

.btn-logar{
    background: #3DB4B4;
    border-radius: 9px;
    width: 7em;
    padding: 0.3em;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
}

.link-cadastro{
    width: 28em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 24em;
}

.link-cadastro h1{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 50.38px;
    line-height: 77px;
    color: #FFFFFF;
}

.link-cadastro p{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 59px;
    text-align: center;

    color: #FFFFFF;
}