@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Titillium+Web:wght@300;400;700&display=swap');

*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}


header{
  height: 70px;
  background-color: #417777;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
}

.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-header{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.text-header{
  font-family: Titillium Web;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}

.text-header:hover{
  border-bottom: #FFFFFF solid 3px;
}

.container-logo{
  width: 55px;
}

.logo{
  width: 50px;
}

.logo:hover{
  width: 53px;
}

.container-user{
  width: 60px;
}
.user-img{
  width: 54px;
}

.user-img:hover{
  width: 58px;
  cursor: pointer;
}


.tab-bar{
  background-color: #FFFFFF;
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 70px;
  width: 300px;
  height: 200px;
  padding: 20px 0;
  animation-name: mostrar;
  animation-duration: 1s;
}

.boasvindas{
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #666666;
  width: 90%;
}



.texto-tab-bar{
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  color: #417777;
  width: 80%;
}

.texto-sair-header{
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
  color: #FF0303;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-sair-header img{
  margin-left: 6px;
}

.borda-tabbar{
  border-bottom: solid 2px #D4D4D4;
  padding-bottom: 7px;
}

@keyframes mostrar {
  from{
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}