@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Titillium+Web:wght@300;400;700&display=swap');



.banner-home{
    background-image: url(../../assets/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 780px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 297px;
    padding: 0 150px;
}

.container-consulta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.texto-banner{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    max-width: 600px;
}

.btn-consultas {
    background: #417777;
    border-radius: 4px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 41px;
    margin-top: 30px;
}

.container-animacao{
    background-image: url('../../assets/img/fundo-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sobre{
    padding: 100px 0 150px;
}

.titulo-sobre{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    color: #4f9f9f;
    padding: 20px 50px 70px;
}

.container-sobre{
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    max-width: 1400px;
    margin: 0 auto;
}

.card{
    border: 6px solid #4a9797;
    box-sizing: border-box;
    border-radius: 24.4124px;
    height: 390px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
}

.imagem-card{
    width: 90px;
}

.imagem-card-bacteria{
    width: 105px;
}

.texto-card{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin-top: 15px;
}

.card-desce{
    margin-top: 105px;
}


.nos{
    background-image: url(../../assets/img/banner-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-nos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
}

.box-textos-nos{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nos-titulo {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 35px;
}

.nos-texto{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
}

.patrocinadores{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}


.mapa{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.mapa-localizacao {
    box-sizing: border-box;
    border-radius: 83px;
    max-width: 1600px;
    height: 515px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4A8585;
    padding: 4px;
}

.box-textos-localizacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.mapa-titulo{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
    margin: 5px 0 35px;
}

.mapa-endereco{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.mapa-google{
    border-radius: 0 83px 83px 0;
    width: 600px; 
    height: 100%;
    border: 0;
}

